
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/template.cshtml";
}

<div>
    <img src="https://i.pinimg.com/originals/34/42/7a/34427ac1cdc30f49a7e751c7b229f904.jpg" height="70%"  width="100%">

</div>