@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

@{ ViewBag.Title = "PaymentConfirm"; }

<h2>@ViewBag.Message</h2>

<a href="/courseUser/Index" class="nav-item nav-link">Return</a>
